.whatweb-info {
    position: absolute;
    left: 5%;
    top: 10vh;
    height: 72vh;
    width: 90%;
  }
  
  .whatwebgui-info {
    position: absolute;
    left: 5%;
    top: 10vh;
    height: 72vh;
    width: 90%;
  
  }
  
  .whatweb-title {
    position: absolute;
    left: -10%;
    top: 5vh;
    height: 10vh;
    width: 90%;
  
  }
  
  .whatwebgui-text {
    position: absolute;
    left: 0%;
    top: 15vh;
    height: 53vh;
    width: 100%;
  
  }
  
  .whatweb-text {
    position: absolute;
    left: 5%;
    top: 15vh;
    height: 53vh;
    width: 90%;
  }
  
  .whatweb-title-text {
    font-size: 2.5vw;
    color: black;
    position: absolute;
    left: 21%;
    top: 5%;
  }
  
  .about-text {
    text-align: left;
    font-size: 1.5vw;
    color: black;
    position: absolute;
    left: 5%;
    top: 5%;
  }
  
  .WW-logo {
    height: 40vmin;
    pointer-events: none;
  }