* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #493257;
}

.pages {
  color: #2f3036;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App {
  text-align: center;
}

.app_text {
  font-size: 80px;
  color: white;

}

.ScanWeb {  
  position: absolute;
  width: 50%;
  top: 10vh;
  height: 90vh;
}

.ScanOutput {
  position: absolute;
  left: 50%;
  top: 10vh;
  height: 90vh;
  width: 50%;
}

/*SCAN.JS -> VERTICAL STICK*/
.vl {
  border-left: 6px solid black;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 15vh;
  margin-left: -3px;
}

.scanweb-text {
  position: absolute;
  left: 10%;
  top: 10vh;
  height: 10vh;
  width: 80%;
}

.scanweb-output {
  position: absolute;
  left: 10%;
  top: 10vh;
  height: 10vh;
  width: 80%;

}

.scanweb-title {
  font-size: 3vw;
  color: white;
  position: absolute;
  left: 22%;
  top: 6%;
}

.scanoutput-title {
  font-size: 3vw;
  color: white;
  position: absolute;
  left: 26%;
  top: 6%;
}

.textfield-div {
  position: absolute;
  left: 20%;
  top: 21vh;
  height: 8vh;
  width: 60%;
}

.scan-switch {
  position: absolute;
  left: 85%;
  top: 21vh;
  height: 8vh;
  width: 10%;
  border: 1px solid red
}

.scanOptions {
  position: absolute;
  left: 10%;
  width: 80%;
  top: 30vh;
  height: 45vh;
  border: 1px solid red
}

.scan-button {
  position: absolute;
  left: 10%;
  width: 80%;
  top: 76vh;
  height: 8vh;
}

.output-text {
  position: absolute;
  left: 10%;
  width: 80%;
  top: 23vh;
  height: 61vh;
  border: 1px solid rgb(0, 0, 0)
}

.optionText {
  color: white;
  font-size:2vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.whatweb-info {
  position: absolute;
  left: 5%;
  top: 10vh;
  height: 72vh;
  width: 90%;
}

.whatwebgui-info {
  position: absolute;
  left: 5%;
  top: 10vh;
  height: 72vh;
  width: 90%;
}

.whatwebgui-title {
  position: absolute;
  left: -6%;
  top: 5vh;
  height: 10vh;
  width: 90%;
}

.whatweb-title {
  position: absolute;
  left: -10%;
  top: 5vh;
  height: 10vh;
  width: 90%;

}

.whatwebgui-text {
  position: absolute;
  left: 5%;
  top: 15vh;
  height: 53vh;
  width: 90%;
}

.whatweb-text {
  position: absolute;
  left: 5%;
  top: 15vh;
  height: 53vh;
  width: 90%;
}

.whatweb-title-text {
  font-size: 2.5vw;
  color: white;
  position: absolute;
  left: 21%;
  top: 5%;
}

.whatwebgui-title-text {
  font-size: 2.5vw;
  color: white;
  position: absolute;
  left: 16%;
  top: 5%;
}

.about-text {
  text-align: left;
  font-size: 1.5vw;
  color: white;
  position: absolute;
  left: 5%;
  top: 5%;
}